<%- include('header'); -%>

<div class="contacts">
  <h1 id="welcome">Contacts</h1>
  <p>Contact A</p>
  <p>1 street lane</p>
  <p>01234 463 333</p>
  <p>a@a.com</p>
</div>

<%- include('footer'); -%>